.cx{
  padding: 2.2rem 1.2rem;
  padding-top: 3.2rem;
}
.cc{
  box-shadow: none;
  background: transparent;
}
.cc:hover{
  box-shadow: none;
  background: transparent;
}
svg{
  margin: auto;
}
.qxc{
  box-shadow: none;
  margin: auto;
  background: transparent
}
.qxc:hover{
  box-shadow: none;
}
.hr{
  width: 17%;
  margin-left: .3rem;
}
.cx .col-lg-6{
  padding-left: 0;
}
.lastfrm{
  padding-left: 1.2rem
}
.form-group{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  margin-top: 1.1rem;
}
label{
  margin: 0;
  transition: border .3s ease-in-out;
}
.form-control{
  padding: .5rem;
  width: 80%;
  outline: 0;
  transition: border .3s ease-in-out;
}
.form-control:focus{
  border: none;
  border-bottom: 4px solid #08f53e;
  box-shadow: none;
  outline: 0;
}
.button{
  display: flex;
  justify-content: space-around;
}
.button button{
  margin:.8rem auto;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  transform: translateX(-50%);
  outline: 0;
  padding: .3rem 0.8rem;
  border: 2px solid #fff;
  color: #fff;
  background:#3ccc96c9;
  box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
  transition: all .7s ease-in-out;
}
.button button:hover{
  background: #fff;
  color:black;
  border: 2px solid #3ccc96c9;
}
